<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
		<h1><%= lids[cur] %></h1>
	</div>
  </div>

  <div class="row">
    <div class="col-md-12">
		<img src='<%= prePath + lids[cur] %>' style="max-width:60%;max-height:60%;">
	</div>
  </div>

  <div class="row">
    <div class="col-md-12">
	</div>
  </div>

	<form action="/nextClick" method="post">
	
	<div class="form-group">
		
		<% labelOptions.forEach((label, i) => { %>
			<% if (labels[cur].split(",").includes(label)) { %>
				<div class="checkbox">
				  <label><input name='labels' type="checkbox" value="<%= label %>"  checked> <%= label %> </label>
				</div>
			<% } else { %>
				<div class="checkbox">
				  <label><input name='labels' type="checkbox" value="<%= label %>" %> > <%= label %> </label>
				</div>
			<% } %>
		<% }); %>
	</div>
	
	<div class="btn-group center" role="group" aria-label="...">
		<button onclick="prevClick()" type="button" class="btn btn-default">Previous</button>
		<button type="submit" class="btn btn-success">Next</button>
	</div>
	</form>
	
</div>

<% include ../partials/footer %>
